.card-back__tempMin {
  border-bottom: 1px solid black;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.2rem 0;
}

.card-back__tempHigh {
  border-bottom: 1px solid black;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.2rem 0;
}

.card-back__humidity {
  border-bottom: 1px solid black;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.2rem 0;
}

.card-back__wind-speed {
  border-bottom: 1px solid black;
  font-size: 0.9rem;
  padding: 0.2rem 0;
}

.card-back__clouds {
  font-size: 0.9rem;
  padding: 0.2rem 0;
}
