.App {
  font-family: sans-serif;
  font-size: 12.5px;
  text-align: center;
  margin: 0 auto;
  padding: 0 5rem;
}

.scene {
  width: 200px;
  height: 260px;
  perspective: 600px;
  float: left;
}

.title {
  color: #bdbdbd;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding: 5rem;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.card-component {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  background: #424242;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-component__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-component__face--front {
  background: red;
}

.card-component__face--back {
  background: blue;
  transform: rotateY(180deg);
}

.card-component.is-flipped {
  transform: rotateY(180deg);
}

.pTemp {
  font-size: 80px;
  color: #bdbdbd;
  text-align: center;
  padding-top: 2rem;
}

.dateStyle {
  font-size: 1.6rem;
  padding-top: 2rem;
  color: #bdbdbd;
}

body {
  background: #212121;
}

.input-component {
  background: #424242;
  border: none;
}

.arrow {
  padding-top: 2rem;
}
